@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#f4f5f7;
}
.bg{ width:100%; height:400px; background-color:#ff4848;}
.logo{ width:1200px; height:90px; margin:0 auto; padding-top:180px;}
.xb{ width:450px; height:60px; background-color:#e13737; margin-top:70px;}
.dlbg{ width:450px; height:260px; background-color:#fff;}

.wz{ width:350px; height:50px;}
.STYLE1{ width:180px; font-family:"微软雅黑"; font-size:18PX; color:#ff4848; letter-spacing:2px;}
.wz1{ width:350px; margin-top:20px;}